.border{
    border: 0.2vh solid;
}

.box{
    max-width: 275px;
    height: 225px;
    box-shadow: 5px 5px 10px  lightcoral inset;
}

.divBox{
    padding: 30px;
    padding-bottom: 0%;
    box-shadow: 5px 5px 10px  lightcoral;
    width: 150px;
    height: 325px;
    
}

.divBox:hover{
    scale: 1.05;
    transition: 0.3s ease-in-out;
}

.topMargin{
    margin-top: 5px;
}

.center{
    display: flex;
    justify-content: center;
}

.img{
    scale: 90%;
}

.textGap{
    margin-right: 3vh;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.textRow{
    display: flex;
    flex-direction: row;
}

.noBotMargin{
    margin-bottom: 0px;
    margin-top: 13px;
}