.border{
    border: 0.2vh solid;
}

.borderTwo{
    border: 0.2vh solid;
    border-radius: 1.5vh;
}

.box{
    max-width: 100%;
    height: 34vh;
    width: 19vw;
    box-shadow: 5px 5px 10px  lightcoral inset;
}

.boxTwo{
    max-width: 275px;
    height: 225px;
    padding: 30px;
    padding-bottom: 0%;
    width: 150px;
    height: 325px;
    background-color: rgb(195, 55, 55);
}

.divBox{
    padding: 8%;
    padding-bottom: 0%;
    box-shadow: 5px 5px 10px  lightcoral;
    margin-top: 4vh;
    max-width: 100%;
}

.shadow{
    box-shadow: 5px 5px 10px rgb(128, 121, 121);
    padding: 8%;
    padding-bottom: 0%;
    margin-top: 4vh;
    max-width: 100%;
}

.shadowTwo{
    box-shadow: 5px 5px 10px rgb(128, 121, 121) inset;
    max-width: 100%;
    height: 34vh;
    width: 32vw;
}

.shadow:hover{
    scale: 1.05;
    transition: 0.3s ease-in-out;
}

.divBox:hover{
    scale: 1.05;
    transition: 0.3s ease-in-out;
}

.topMargin{
    margin-top: 2vh;
}

.noMarginLeft{
    margin-left: 0%;
}

.noMarginRight{
    margin-right: 0%;
}

.centerImg{
    display: flex;
    justify-content: center;
    
}

.img{
    scale: 78%;
    max-width: 30vw;
    height: auto;
}

.imgTwo{
    min-width: 20vw;
    width: 99vw;
}

.rowImg{
    display: flex;
    flex-direction: row;
    max-width: 100%;
    justify-content: space-around;
}

.textRow{
    display: flex;
    flex-direction: row;
    gap: 10%;
    justify-content: space-between;
    max-width: 40vw;
}

.textGap{
    margin-bottom: 0%;
}

.noBotMargin{
    margin-bottom: 0px;
    display: flex;
    text-align: center;
}

.textLink{
    text-decoration: none;
    color: black;
    max-width: 40%;
    height: auto;
}

.textAlign{
    display: flex;
    text-align: center;
}

.text{
    display: flex;
    justify-content: center;
}

@media(max-width:690px){
    .rowImg{
        flex-direction: column;
        align-items: center;
    }

    .box{
        width: auto;
    }

    .img{
        scale: 85%;
    }

    .imgTwo{
        min-width: 70%;
    }

    .divBox{
        margin-left: 0%;
        margin-right: 0%;
    }

    .textRow{
        max-width: none;
    }
}

@media(max-width:400px){
    .textRow{
        flex-direction: column;
    }

    .img{
        scale: 95%;
        max-width: 40vw;
    }

    .textLink{
        max-width: none;
    }

    .shadowTwo{
        width: 100%;
    }
}